html, body {
	margin: 0;
	padding: 0;
	background-color: white;
	width: 100%;
	height: 100%;

	font-family: 'Karla', sans-serif;
	font-size: 1em;
	text-align: center;
	color: black;
}

body {
	display:flex;
	flex-direction: column;
	justify-content: center;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;

	box-sizing: border-box;
	background: transparent;
	padding: 3em 20em 0em;
	width: 100%;
	z-index: 1;
}

main {
	height: 100%;
}

a {
	color: black;
	text-decoration: none;
	transition: 0.3s;

}

a:hover, #hamburger:hover{
	transition: 0.3s;
	color: pink;
}

#indexhamburger {
	display: none;
	font-size: 1.5em;
	color: white;
	border: none;
	background: transparent;
	outline: none;
}

a:hover, #indexhamburger:hover{
	transition: 0.3s;
	color: pink;
}

#blackbackground {
	background-color:black;
}

.whitetext {
	color: white;
	line-height: 30%;
}

.nav_title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 0.05;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 80%;
}

.nav_title h2 {
	font-size: 1em;
	font-weight: 100;
	letter-spacing: 0.2em;
}

#navbar_content {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-between;
}

.directory {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: center;
}

.social_icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-content: flex-end;
}

.nav_item {
	padding: 0 1.66em;
}

.nav_title > a > h1 {
	padding: 0;
	margin: 0;
}

.nav_title {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav_projects {
	position: relative;
	display: inline-block;
	transition: 0.3s;
}

#nav_projects_dropdown {
    height: 0;
    position: absolute;
    /*background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);*/
    overflow: auto;
    opacity: 0;
	z-index: 1;
    transition: opacity 0.1s ease;
    padding: 0 0.5em;
    /*border-radius: 5px;*/
}

#nav_projects_dropdown div:first-child {
	padding-top: 1em;
}

#nav_projects_dropdown div:last-child {
	padding: 1em 0;
}

#nav_projects_dropdown div {
/*	border-left: solid 1px white;
*/}

.nav_projects:hover #nav_projects_dropdown, .nav_projects:hover a {
    opacity: 1;
    height: auto;
    transition: opacity 0.1s ease;
}

#indexnav_projects_dropdown {
	height: 0;
    position: absolute;
    overflow: auto;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.1s ease;
    padding: 0 1em;
    margin-left: -1.2em;
    border-radius: 5px;
    background-color:  white;
}

#indexnav_projects_dropdown div:first-child {
	padding-top: 1em;
}

#indexnav_projects_dropdown div:last-child {
	padding: 1em 0;
}

.nav_projects:hover #indexnav_projects_dropdown, .nav_projects:hover a {
    opacity: 1;
    height: auto;
    transition: opacity 0.1s ease;
}

.nav_projects:hover {
	color: pink;
	cursor: default;
	transition: 0.3s;
	text-decoration: underline;
}

.nav_icon {
	padding: 0 0.8em;
}

#hamburger {
	display: none;
	font-size: 1.5em;
	color: black;
	border: none;
	background: transparent;
	outline: none;
}

/* home */

.background_video {
    padding: 0px;
    min-height: 100vh;
    z-index: -100;
    display: flex;
    align-items: center;
    justify-content: center;
   	overflow: hidden;
}

#video_reel_phone {
	display: none;
}
video {
	min-height: 100vh;
}

.video_overlay {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 1;
	position: absolute;
	left: auto;
}

.overlay_button {
	font-family: 'Karla', sans-serif;
	font-size: 1.2em;
	font-weight: 800;
	color: #ffffff;
	background-color: #1eb6ff;
	border-radius: 5px;
	transition: 0.3s;
	padding: 0.7em;
	margin: 2em;
	border-width: 0px;
}

.overlay_button:hover {
	color: pink;
	cursor: pointer;
	background-color:#1eb8ffbd;
}

/* about */
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about img {
	max-width: 400px;
	max-height: 400px;
	flex-grow: 0;
	padding: 1em 0 2em;
}

.description {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	padding-top: 12em;
}

.experience {
	display: none;
	text-align: left;
	margin-top: 15vh;
	margin-bottom: 20vh;
	border-bottom: solid 1px black;
	flex-shrink: 0;
}

/* projects */

.project_grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around; 
	padding-top: 10em;
	height: 100vh;
}

.project_grid iframe {
	width: 700px;
	display: block;
	flex-grow: 0;
	height: 500px;
}

@media (min-width: 1025px){
	#indexnavbar {
		padding: 8em 20em 0em;
	}
	
}

/*
@media(max-width: 1007px) {
	nav {
		padding: 4em 3em 0em;
	}
}

*/
@media (max-width: 1024px) {
	nav {
		flex-direction: column;
		padding-top: 1em;
	}

	#navbar_content {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0);
		border-radius: 5px;

		width: 100%;
	}

	.social_icons {
		justify-content: center;
	}

	#indexhamburger {
		display: inline-block;
	}

	#hamburger {
		display: inline-block;
	}

	.directory {
		flex-direction: column;
	}

	.video_overlay {
		flex-direction: column;
	}
	.overlay_button {
		font-family: 'Karla', sans-serif;
		font-size: 1.2em;
		font-weight: 800;
		color: #ffffff;
		background-color: #1eb6ff;
		border-radius: 50px;
		transition: 0.3s;
		outline: none;
		padding: 0.9em;
		border-width: 0px;
	}

	.nav_title {
		width:90vw;
		margin-bottom: 0.5em;
		font-size: 1em;
	}

	.nav_title h1 {
		font-size: 1.7em;
	}

	.nav_title h2 {
		letter-spacing: 0.3em;
	}

	.nav_item, .social_icons {
		padding: 0.5em 0;
	}

	#nav_projects_dropdown {
		background-color: rgb(0,0,0);
		background-color: rgb(255, 255, 255);
	}

	#indexnav_projects_dropdown {
		background-color: rgb(0, 0, 0);
		background-color: rgb(255, 255, 255);
	}

	.experience {
		border-bottom: transparent;
	}
}

@media (max-width: 600px) {
	nav {
		padding: 1em 1em 0em;
	}
	
	.background_video {
		max-width: 120vw;
		max-height: 100vh;
	}
	
	
	#video_reel {
		display: none;
	}
	
	#video_reel_phone {
		display: block;
		position: fixed;
		bottom: 1;
		min-height: 100%;
		max-height: 140%
		}
}

@media (max-width: 449px) {
	.about img {
		max-width: 100%;
	}
}