html, body {
	margin: 0;
	padding: 0;
	background-color: white;
	width: 100%;
	height: 100%;

	font-family: 'Karla', sans-serif;
	font-size: 1em;
	text-align: center;
	color: black;
}

body {
	display:flex;
	flex-direction: column;
	justify-content: center;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;

	box-sizing: border-box;
	background: transparent;
	padding: 3em 20em 0em;
	width: 100%;
	z-index: 1;
}

main {
	height: 100%;
}

a {
	color: black;
	text-decoration: none;
	transition: 0.3s;

}

a:hover, #hamburger:hover{
	transition: 0.3s;
	color: pink;
}

#indexhamburger {
	display: none;
	font-size: 1.5em;
	color: white;
	border: none;
	background: transparent;
	outline: none;
}

a:hover, #indexhamburger:hover{
	transition: 0.3s;
	color: pink;
}

#blackbackground {
	background-color:black;
	overflow: hidden;
}

.whitetext {
	color: white;
	line-height: 20%;
}

.whitetextdropdown {
	color: white;
}

.nav_title {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-grow: 0.05;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.4em;
	line-height: 80%;
	text-align: left;
}

.nav_title h2 {
	font-size: 1.02em;
	font-weight: 300;
	letter-spacing: 0.22em;
}

#navbar_content {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: space-between;
}

.directory {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: center;
}

.social_icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-content: flex-end;
}

.nav_item {
	padding: 0 1.66em;
	font-size: 1.2em;
}

.nav_title > a > h1 {
	margin-bottom: 0;
	margin-left: -0.05em;
	font-size: 1.5em;
	font-weight: 600;
}

.nav_title {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 30%
}

.nav_projects {
	position: relative;
	display: inline-block;
	transition: 0.3s;
	font-size: 1.2em;
}

#nav_projects_dropdown {
    height: 0;
    position: absolute;
    overflow: auto;
    opacity: 0;
	z-index: 1;
    transition: opacity 0.1s ease;
	margin-top: 0.1em;
	margin-left: -1.2em;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
    background-color:  white;
}

#nav_projects_dropdown div:first-child {
	padding-top: 1em;
}

#nav_projects_dropdown div:last-child {
	padding: 1em 0;
}

.nav_projects:hover #nav_projects_dropdown, .nav_projects:hover a {
    opacity: 1;
    height: auto;
    transition: opacity 0.1s ease;
}

#indexnav_projects_dropdown {
	height: 0;
    position: absolute;
    overflow: auto;
    opacity: 0;
	z-index: 1;
    transition: opacity 0.1s ease;
	margin-top: 0.1em;
	margin-left: -1.2em;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
    background-color:  white;
}

#indexnav_projects_dropdown div:first-child {
	padding-top: 1em;
}

#indexnav_projects_dropdown div:last-child {
	padding: 1em 0;
}

.nav_projects:hover #indexnav_projects_dropdown, .nav_projects:hover a {
    opacity: 1;
    height: auto;
    transition: opacity 0.1s ease;
}

.nav_projects:hover {
	color: pink;
	cursor: default;
	transition: 0.3s;
	text-decoration: underline;
}

.nav_icon {
	padding: 0 0.8em;
}

#hamburger {
	display: none;
	font-size: 1.5em;
	color: black;
	border: none;
	background: transparent;
	outline: none;
}

/* home */

.background_video {
    padding: 0px;
    min-height: 100vh;
    z-index: -100;
    display: flex;
    align-items: center;
    justify-content: center;
   	overflow: hidden;
}

#video_reel_phone {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	min-height: 100%;
	max-height: 140%;
	}

#desktop_bg_video {
	display: none;
}

video {
	min-height: 100vh;
}

.video_overlay {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 1;
	position: absolute;
	left: auto;
}

.overlay_button {
	font-family: 'Montserrat';
	font-size: 1em;
	font-weight: 600;
	color: #ffffff;
	background-color: #ffffff00;
	border-radius: 100px;
	transition: 0.3s;
	padding: 1.4em;
	margin: 2em;
	border-width: 2.5px;
	border-style: solid;
}



.overlay_button:hover {
	color: white;
	cursor: pointer;
	background-color:#a5a5a58c;
}

/* about */
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about img {
	max-width: 400px;
	max-height: 400px;
	flex-grow: 0;
	padding: 1em 0 2em;
}

.description {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	padding-top: 12em;
	width: 40vw;
}

.introduction {
	width: 25vw;
	display: inline-block
}

.experience {
	display: none;
	text-align: left;
	margin-top: 10vh;
	margin-bottom: 20vh;
	border-bottom: solid 1px black;
	flex-shrink: 0;
}

/* projects */

.project_grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around; 
	padding-top: 12em;
	height: 100vh;
}

.project_grid iframe {
	width: 900px;
	display: block;
	flex-grow: 0;
	height: 500px;
}

@media (min-width: 2700px){
	.description {
		width: 30vw;
	}
	.project_grid iframe {
		width: 1100px;
	}
}


@media (min-width: 1025px){
	#indexnavbar {
		padding: 8em 20em 0em;
	}
}

@media (max-width: 1320px) {
	nav {
		padding: 3em 10em 0em;
	}
	.description {
		width: 40vw;
	}
	.introduction {
		width: 35vw;
	}
}
@media (max-width: 1024px) {
	nav {
		flex-direction: column;
		padding-top: 1em;
		padding: 0em 0em 0em;
	}

	#navbar_content {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		background-color: rgb(255, 255, 255);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		width: 90vw;
	}

	.social_icons {
		justify-content: center;
	}

	#indexhamburger {
		display: inline-block;
	}

	#hamburger {
		display: inline-block;
	}

	.whitetextdropdown {
		color: black;
	}

	.directory {
		flex-direction: column;
	}

	.video_overlay {
		flex-direction: column;
	}
	.overlay_button {
		font-size: 1.1em;
		padding: 1.2em;
	}

	.nav_title {
		width:90vw;
		margin-bottom: 0.5em;
		font-size: 1em;
		margin-left: -0.1em;
	}

	.nav_title h1 {
		font-size: 1.7em;
	}

	.nav_title h2 {
		letter-spacing: 0.21em;
	}

	.nav_item, .social_icons {
		padding: 0.6em 0;
	}

	#nav_projects_dropdown {
		background-color: rgb(0,0,0);
		background-color: rgb(255, 255, 255);
		padding-right: 20px;
		padding-left: 20px;
		margin-top: -0.1em;
	}

	#indexnav_projects_dropdown {
		background-color: rgb(0, 0, 0);
		background-color: rgb(255, 255, 255);
		padding-right: 20px;
		padding-left: 20px;
		margin-top: -0.1em;
	}

	.experience {
		border-bottom: transparent;
	}
	
	.description {
		padding-top: 4em;
	}
}



@media (max-width: 800px) {
	.fancybox-slide--video .fancybox-content {
		height  : 50%;
	}
	.fancybox-slide--iframe .fancybox-content{
		height  : 50% !important;
	}

	.description {
		width: 55vw;
	}

	.introduction {
		width: 50vw;
	}
}


@media (min-width: 601px) {
	#desktop_bg_video {
		display: block;
	}
	#mobile_bg_video {
		display: none;
	}
}

@media (max-width: 600px) {
	.background_video {
		max-width: 120vw;
		max-height: 100vh;
	}

	.fancybox-slide--video .fancybox-content {
		height  : 30% !important;
	}

	.fancybox-slide--iframe .fancybox-content{
		height  : 30%;
	}	
	
	#mobile_bg_video {
		display: block;
	}

	.description {
		width: 100vw;
	}

	.introduction {
		width: 70vw;
	}
	
	.project_grid iframe {
		width: 100vw;
		max-height: 280px;
	}

	.project_grid {
		padding-top: 4em;
	}

	main {
		padding-top: 3em;
	}
	
	/*.video_overlay {
		left: 30vw;
	}*/
}


@media (max-width: 449px) {
	.about img {
		max-width: 100%;
	}
}