body{
	font-family: 'Permanent Marker', cursive;
	background-color: #262626;
	width:100%;
	height:100%;
}

h1{
	color:#ff9966;
	font-size: 4em;
	margin: 3% auto 0%;
	text-align: center;
	overflow: visible;
}

h3{
	color: #ffcc66;
	margin: 0% auto 0%;
	font-size: 2em;
	text-align: center;
}

video{
	width:100%; 
   	height:auto;
	}

.content{
	display:-webkit-flex;
	display:flex;
	flex-direction: column;
	-webkit-justify-content: center; /* Safari */
  	justify-content:         center;
  	width: 100%;
}

.name{
	flex-grow: 1;
	flex-shrink: 0;
	overflow: visible;
}

.title{
	flex-grow: 0;
	flex-shrink: 5;
}

.reel{
  	width: 55%;
  	min-width: 90vw;
  	align-self: center; 
}

.information{
	display:-webkit-flex;
	display:flex;
	flex-direction: row;
	-webkit-justify-content: space-around; /* Safari */
  	justify-content:         space-around;
}

.info{
	align-self: center;
	min-width:15%;
}

.deet{
	font-size: 0.95em;
	text-align: center;
	text-decoration:none !important; 
	text-decoration:none;
	color: #ffcc66;	
	width: auto;
	min-width: 20%;
}

a:hover{
	color:#ff9966;
}q
